.grid {
    padding: 10px;
}

.paper {
    padding: 20px;
    max-width: 400px;
    min-width: 300px;
    margin: 20px auto;
}

.login-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}